@import '../globalStyles/App.scss';

.formContainer, 
.slider, 
.searchButton, 
#type {
    background: #f1f0fc;
    font-family: $baseFont;
    border: .15rem solid $primary; 
    border-radius: .25rem;
    padding: 0 .5rem;
    h2{
        color: $primary;
        margin: 0.5rem 0; 
    }
}

.filterContainer {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    .priceFilter, 
    .categoryFilter {
        width: 48%; 
    }
    select {
        width: 100%; 
    }
}

.searchButton {
    background: $primary;
    color: white; 
    text-transform: uppercase;
    margin: 1rem auto; 
    display: block; 
    width: 300px;
    &:hover, 
    &:focus, 
    &:active {
        border: .15rem solid $primary; 
        background: $accent;
        color: $primary; 
    }
}

.filterErrorMessage {
    color: red; 
}