section.favouritesContainer {
    h2 {
        letter-spacing: .15rem;
        margin: 0;
        padding: .5rem 0 .4rem .5rem;
        border-bottom: 1px solid black;
    }
    ul.favouritesList {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0 1rem 1rem;
        border-bottom: .1rem solid #cfff31;
        padding-bottom: .5rem;
        li {
            font-size: .75rem;
        }
        .itemImage {
            width: 30%;
        }
        .itemName {
            width: 50%;
        }
        .itemPrice {
            width: 10%;
        }
        button {
            width: 20%;
        }
    }
    ul.favouritesList:last-child {
        margin-bottom: 0;
    }
}






