@import './variablesNMixins';
@import './setup';

html {
    font-size: 120%;
}

body {
    margin: 0;
    font-family: $baseFont;
}

h1,
h2 {
    font-family: $headerFont;
}

h2 {
    font-size: 1rem;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 98%;
    margin: 0 auto;
    max-width: 1800px;
}

