@import './variablesNMixins';
@import './setup';

html {
    font-size: 120%;
}

body {
    background:url("../images/marble.jpg");
    background-repeat: repeat;
    background-size:contain;
    // margin: 0;
    font-family: $baseFont;
}

.hamTopContainer{
    background:black;
    color:white;
    display:flex;
    justify-content: space-between;
    position:sticky;
    top:0;
    z-index:100;
}

.titlePageContainer{
    padding-top:2rem;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 85vh; 
}

.headerContainer{
    width:80%;
    position:relative;
    max-width: 20rem; 
}

h1{
    margin-left: 2rem;
    padding:.5rem;
    font-size:3rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background-color:rgba(207, 255, 49, 0.6);
    border-radius: .15rem;
    span{
        font-size:4rem;
    }

    &::after{
            content:"";
            width:110%;
            height:10%;
            position: absolute;
            left:1.5rem;
            bottom:10%;
            background-color:rgba(96, 86, 249, .9);
        }
    }

.titleP{
    margin-top:1rem;
    margin-left: 2rem;
    font-size:1.3rem;
    letter-spacing: .05rem;
}
    
h3{
    margin:0;
    padding: .5rem 0 0 .5rem;
    font-size: .8rem;
    text-transform: uppercase;
    font-family: $headerFont;
    letter-spacing: .15rem;

    span{
    font-size:1rem;  
    }
}

h1,
h2 {
    font-family: $headerFont;
}

h2 {
    font-size: 1rem;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 98%;
    margin: 0 auto;
    max-width: 1800px;
}

footer{
    background:black;
    position:sticky;
    bottom:0;

    p{
        font-size:.5rem;
        color:$light;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin:0;
        padding:.5rem;
    }
}

.loadingState {
    margin: auto;
    text-align: center;
    width: 10%;
    padding: .5rem 0;
}