article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 120%;
}

body {
  background: url("../images/marble.jpg");
  background-repeat: repeat;
  background-size: contain;
  font-family: "Lato", sans-serif;
}

.hamTopContainer {
  background: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.titlePageContainer {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 85vh;
}

.headerContainer {
  width: 80%;
  position: relative;
  max-width: 20rem;
}

h1 {
  margin-left: 2rem;
  padding: .5rem;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  background-color: rgba(207, 255, 49, 0.6);
  border-radius: .15rem;
}

h1 span {
  font-size: 4rem;
}

h1::after {
  content: "";
  width: 110%;
  height: 10%;
  position: absolute;
  left: 1.5rem;
  bottom: 10%;
  background-color: rgba(96, 86, 249, 0.9);
}

.titleP {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 1.3rem;
  letter-spacing: .05rem;
}

h3 {
  margin: 0;
  padding: .5rem 0 0 .5rem;
  font-size: .8rem;
  text-transform: uppercase;
  font-family: "Josefin Slab", serif;
  letter-spacing: .15rem;
}

h3 span {
  font-size: 1rem;
}

h1,
h2 {
  font-family: "Josefin Slab", serif;
}

h2 {
  font-size: 1rem;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 98%;
  margin: 0 auto;
  max-width: 1800px;
}

.adjustZ {
  z-index: 2;
}

footer {
  background: black;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

footer p {
  font-size: .5rem;
  color: #f1f0fc;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 0;
  padding: .5rem;
}
/*# sourceMappingURL=App.css.map */