.pages{
    text-align: center;
    padding-top: 10px;
    
    button{
        background: #fff;
        border: 2px solid #6F66F9;
        border-radius: 4px;
        color: #6F66F9;
        margin:5px;
        width:40px;
        padding: 0;
    }

    button:hover, button:focus{
        background: #6F66F9;
        color:#fff;
    }
    .pressed{
        background: #6F66F9;
        color:#fff;
    }
}