div.singleContainer {
    width: 93%;
    margin: 1rem auto 0;
    background: #f1f0fc;
    color: #6056f9;
    border: .1rem solid black;
    padding: .5rem;
    border-radius: .25rem;
    position: relative;

    h2{
        word-wrap: break-word;
        padding-top: .7rem;
        font-weight: bolder;
        min-height: 6rem;
    }

    h3 {
        font-style: italic;
        font-size: .85rem;
        padding: 0;
        margin-bottom: .75rem;
    }

    h3:first-of-type{
        font-style: normal;
        font-size: 1rem;
        text-transform: uppercase;
        position: relative;
        background-color: rgba(207, 255, 49, 0.8);
        color: black;
        box-shadow:.5px .5px #6056f9;
    }

    h3:nth-of-type(2){
        display: inline-block;
        padding: .5rem .25rem;
        background: #cfff31;
        border-radius: 1rem;
        color: black;
        box-shadow:.5px .5px #6056f9;
    }

    img {
        max-height: 11rem;
    }

    div.likeButtonContainer {
        text-align: right;
        height: 0;
        button {
            position: relative;
            bottom: -.2rem;
            right: 0rem;
        }
    }
}

@media (min-width: 750px) {
    
    div.singleContainer h2 {
        font-size: 1.65rem;
        min-height: 12rem;
    }
    
    div.singleContainer h3 {
        font-size: 1.15rem;
    }

    div.singleContainer h3:first-of-type {
        font-size: 1.35rem;
    }
}