div.singleContainer {
    width: 93%;
    margin: 1rem auto 0;
    background: #f1f0fc;
    color: #6056f9;
    border: .1rem solid black;
    padding: .5rem;
    border-radius: .25rem;
    position: relative;
    h2{
        word-wrap: break-word;
        padding-top: .7rem;
    }
    h3 {
        font-style: italic;
        font-size: .85rem;
    }
    img {
        // height: auto;
        max-height: 10rem;
    }
    div.likeButtonContainer {
        text-align: right;
        height: 0;
        button {
            position: relative;
            bottom: -.2rem;
            right: 0rem;
        }
    }
}